# ===============================
# Node & Package Managers
# ===============================
node_modules/
dist/
dist-ssr/
*.localvstore
.pnp.*
.pnp.json

vscode-test/
.vscode
vscode

package-lock.json
yarn.lock
pnpm-lock.yaml
npm-shrinkwrap.json
npm-packages/

# Vitest / coverage reports
coverage/
coverage-*.json
coverage-*.lcov
coverage-*.html
coverage-*.info
coverage-*.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ===============================
# Environment Variables
# (keep example files public)
# ===============================
.env
.env.*
!.env.example

# ===============================
# Build & Cache
# ===============================
.cache/
out/
.next/
.svelte-kit/
*.tsbuildinfo

# ===============================
# Editors & OS files
# ===============================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# ===============================
# Misc
# ===============================
coverage/
