# Node
node_modules/
dist/
dist-ssr/
*.local
env.local
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log* 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log**

# Editor
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example

# Build
.cache/
out/

# Misc
.DS_Store
Thumbs.db
